# 32bit is not supported, and the combination of macos+arm64 is known to not
# work due to issues in DWARF unwinding in OCaml
available: (os = "linux" & (arch = "x86_64" | arch = "arm64")) | (os = "macos" & arch = "x86_64")